body {
	background-image: url(img/kali-blue-matrix-16x9.png);
}
main {
	background-color: #313131;
	margin: 0px 10%;
	padding: 10px 20px;
	padding-bottom: 50%;
}
.section-one {
	border-style: dashed;
	border-color: #f6f85d;
	padding: 10%;
	border-radius: 1.5%;
}
.h1 {
	font-family: 'Oswald', sans-serif;
	color: #f6f85d;
	text-align: center;
	font-size: 3em;
}
a {
	font-family: 'Roboto Mono', monospace;
	color: #f6f85d;
	text-decoration: none;
}
.h1 {
	font-family: 'Oswald', sans-serif;
	color: #f6f85d;
	text-align: center;
	font-size: 3em;
}
a:hover {
	color: #5e95f3;
}
ul {
	margin: 0px 25%;
	color: white;
}